.venv
example
.env
hr_assistant.py
__pycache__/
utils\storage_text_extraction.py
fir-47b23-firebase-adminsdk-j70zf-cfe3ad14b1.json
firebase_config_file.json
venv

testing1.py
utils\storage_text_extraction.py
fir-47b23-firebase-adminsdk-j70zf-cfe3ad14b1.json
firebase_config_file.json

